/* ImageCard.css */
.image-card {
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-zoom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-zoom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.2);
}

.image-card:hover img {
  transform: scale(1.1);
}

.image-card:hover .image-zoom {
  opacity: 1;
}