.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.title a {
  color: #7676d7;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
}
.title a:after {
  background-color: #7676d7;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}
.title a:hover:after,
.title a:focus:after {
  width: 100%;
}

.filters {
  margin-bottom: 20px;
}

.filters div:hover {
  background-color: #4c4cdf;
  transform:scale(1.1);
  transition: transform 0.3s ease;
}

.filters div {
  width: 70px;
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.filters div:hover {
background-color: #5656ec;
}
.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.load-more-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
